
{
  "input":[
    {
      "type":"storm_drpc",
      "rowtype":"service",
      "path":"/opt/LogSearchExt/logs/var/log/storm/drpc.log"
    },
    {
      "type":"storm_logviewer",
      "rowtype":"service",
      "path":"/opt/LogSearchExt/logs/var/log/storm/logviewer.log"
    },
    {
      "type":"storm_nimbus",
      "rowtype":"service",
      "path":"/opt/LogSearchExt/logs/var/log/storm/nimbus.log"
    },
    {
      "type":"storm_supervisor",
      "rowtype":"service",
      "path":"/opt/LogSearchExt/logs/var/log/storm/supervisor.log"
    },
    {
      "type":"storm_ui",
      "rowtype":"service",
      "path":"/opt/LogSearchExt/logs/var/log/storm/ui.log"
    },
    {
      "type":"storm_worker",
      "rowtype":"service",
      "path":"/opt/LogSearchExt/logs/var/log/storm/*worker*.log"
    }
   ],
  "filter":[
    {
      "filter":"grok",
      "conditions":{
        "fields":{
          "type":[
            "storm_drpc",
            "storm_logviewer",
            "storm_nimbus",
            "storm_supervisor",
            "storm_ui",
            "storm_worker"
          ]
         }
       },
      "log4j_format":"",
      "multiline_pattern":"^(%{TIMESTAMP_ISO8601:logtime})",
      "message_pattern":"(?m)^%{TIMESTAMP_ISO8601:logtime}%{SPACE}%{JAVACLASS:logger_name}%{SPACE}\\[%{LOGLEVEL:level}\\]%{SPACE}%{SPACE}%{GREEDYDATA:log_message}",
      "post_map_values":{
        "logtime":{
          "map_date":{
            "target_date_pattern":"yyyy-MM-dd HH:mm:ss.SSS"
          }
         }
       }
     }
   ]
 }