
{
  "input":[
    {
      "type":"hbase_master",
      "rowtype":"service",
      "path":"/opt/LogSearchExt/logs/var/log/hbase/hbase-*-master-*.log"
    },
    {
      "type":"hbase_regionserver",
      "rowtype":"service",
      "path":"/opt/LogSearchExt/logs/var/log/hbase/hbase-*-regionserver-*.log"
    },
    {
      "type":"hbase_phoenix_server",
      "rowtype":"service",
      "path":"/opt/LogSearchExt/logs/var/log/hbase/phoenix-*-server.log"
    }
   ],
  "filter":[
    {
      "filter":"grok",
      "conditions":{
        "fields":{
          "type":[
            "hbase_master",
            "hbase_regionserver"
          ]
         }
       },
      "log4j_format":"%d{ISO8601} %-5p [%t] %c{2}: %m%n",
      "multiline_pattern":"^(%{TIMESTAMP_ISO8601:logtime})",
      "message_pattern":"(?m)^%{TIMESTAMP_ISO8601:logtime}%{SPACE}%{LOGLEVEL:level}%{SPACE}\\[%{DATA:thread_name}\\]%{SPACE}%{JAVACLASS:logger_name}:%{SPACE}%{GREEDYDATA:log_message}",
      "post_map_values":{
        "logtime":{
          "map_date":{
            "target_date_pattern":"yyyy-MM-dd HH:mm:ss,SSS"
          }
         }
       }
     },
    {
      "filter":"grok",
      "conditions":{
        "fields":{
          "type":[
            "hbase_phoenix_server"
          ]
         }
      },
      "log4j_format":"%d{ISO8601} %-5p [%t] %c{2}: %m%n",
      "multiline_pattern":"^(%{TIMESTAMP_ISO8601:logtime})",
      "message_pattern":"(?m)^%{TIMESTAMP_ISO8601:logtime}%{SPACE}%{LOGLEVEL:level}%{SPACE}%{JAVACLASS:logger_name}:%{SPACE}%{GREEDYDATA:log_message}",
      "post_map_values":{
        "logtime":{
          "map_date":{
            "target_date_pattern":"yyyy-MM-dd HH:mm:ss,SSS"
          }
         }
       }
     }
   ]
 }