
{
  "input":[
    {
      "type":"atlas_app",
      "rowtype":"service",
      "path":"/opt/LogSearchExt/logs/var/log/atlas/application.log"
    }
  ],
  "filter":[
    {
      "filter":"grok",
      "conditions":{
        "fields":{
          "type":[
            "atlas_app"
          ]
         }
       },
      "log4j_format":"%d %-5p - [%t:%x] ~ %m (%c{1}:%L)%n",
      "multiline_pattern":"^(%{TIMESTAMP_ISO8601:logtime})",
      "message_pattern":"(?m)^%{TIMESTAMP_ISO8601:logtime}%{SPACE}%{LOGLEVEL:level}%{SPACE}%{SPACE}-%{SPACE}\\[%{DATA:thread_name}\\]%{SPACE}~%{SPACE}%{GREEDYDATA:log_message}",
      "post_map_values":{
        "logtime":{
          "map_date":{
            "target_date_pattern":"yyyy-MM-dd HH:mm:ss,SSS"
          }
         }
       }
     }
   ]
 }